<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dai_Ly_Ve_So_1.Properties.Settings.QLPHVSConnectionString"
            connectionString="Data Source=DESKTOP-213LDD7\SQLEXPRESS;Initial Catalog=QLPHVS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Dai_Ly_Ve_So_1.Properties.Settings.QLVESOConnectionString"
            connectionString="Data Source=DESKTOP-213LDD7\SQLEXPRESS;Initial Catalog=QLVESO;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Dai_Ly_Ve_So_1.Properties.Settings.QLDLVESOConnectionString"
            connectionString="Data Source=DESKTOP-213LDD7\SQLEXPRESS;Initial Catalog=QLDLVESO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>